
#mainBtn{
    margin: 40px;
    background-color: white;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 50%;
    transition-duration: 0.3s;
}
#mainBtn:hover{
    background-color: red;
    color: white;
}
div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}